<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title}}{{#title}}, {{/title}}Martus.se</title>

<style>
body {
	background: #ffe;
	font-size: 90%;
	margin: 0px;
}

h1 a {
	color: black;
	font-style: normal;
	text-decoration: none;
}

h1 small {
	font-size: 60%;
	color: #886;
}

p {
	font-size: 14px;
	font-family: Georgia, serif;
}

a {
	color: #338;
}

h1,h2,h3,h4,h5 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

code {
	font-family: "Courier New", Courier, monospace;
	background: #eed;
	border-radius: 4px;
	border: 1px solid #889;
	padding: 1px;
}

pre {
	border: 1px solid #889;
	border-radius: 4px;
	padding: 4px;
	background: #eed;
}

pre code {
	font-family: "Courier New", Courier, monospace;
	background: transparent;
	border-radius: 0px;
	border: none;
}

tr {
	border: 1px solid #889;
}

/* Table */
.table {
	border-collapse: separate;
	border-spacing: 0px 0px;
}

.table td,th {
	text-align: left;
	border-bottom: 1px solid #aaa;
	padding: 5px;
	padding-right: 20px;
}

.selectable:hover {
	background: #ddd;
}

.table a {
	font-size: 60%;
	color: black;
	background: #ccd;
	padding: 2px;
	font-style: italic;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 2px;
}

/* Post segments */
.topbar {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	background: #223;
	color: white;
	margin: 0px;
	padding: 12px;
}

.topbar a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.blogtop {
	background: #dda;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0px;
	padding: 12px;
}

.blogtop h1 {
	margin: 2px;
}

.blogpost {
	border: 1px #777 solid;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 4px;
	padding: 0px;
	box-shadow: 1px 3px 4px #aaa;
}

.narrow {
	margin-left: 40px;
	margin-right: 40px;
}

/* Logo */
.logo {
	font-family: Arial;
	font-weight: bold;
	color: white;
	border: 2px solid #bbb;
	border-radius: 6px;
	padding: 6px;
}

.blogbody {
	padding: 0px;
	padding-left: 12px;
	padding-right: 12px;
}

.tag {
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 4px;
	background: #333;
	color: white;
	padding: 2px;
}

.copynote {
	margin: 32px;
	padding: 32px;
	color: #778;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}
</style>

</head>
<body>

<div class="topbar"><div class="container">
<span class="logo">Martus.se</span>
 - <a href="/">Frontpage</a>
 - <a href="/hosted">Hosted projects</a>
 - <a href="http://dota.martus.se/">Dota</a>
</div></div>

<div class="container">
