{{> head}}

<table class="table">

<tr>
<th>Project</th>
<th>Author</th>
<th>Links</th>
</tr>

{{#items}}

<tr class="selectable">
<td>{{name}}</td>
<td>{{author}}</td>

<td>
{{#links}}

<a href="{{href}}" type="button" target="_blank">{{name}}</a>

{{/links}}
</td>
</tr>

{{/items}}

</table>

{{> foot}}

