{{> head}}

<div class="panel panel-default">
<div class="panel-heading">
Hosted projects
</div>

<table class="table">

<tr>
<th>Project</th>
<th>Author</th>
<th>Links</th>
</tr>

{{#items}}

<tr>
<td>{{name}}</td>
<td>{{author}}</td>

<td>
<div class="btn-group" role="group">
{{#links}}

<a href="{{href}}" type="button" class="btn btn-primary">{{name}}</a>

{{/links}}
</div>
</td>
</tr>

{{/items}}

</table>
</div>

{{> foot}}

